@font-face {
  font-family: Fira;
  src: url(fonts/FiraSans-Regular.ttf); }

@font-face {
  font-family: FiraBold;
  src: url(fonts/FiraSans-ExtraBold.ttf); }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  background: #FFF;
  font-size: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1680px;
  display: flex; }
  .wrapper.display {
    display: block; }

h1, h2, h3, h4 {
  font-family: FiraBold;
  font-weight: 900;
  margin-top: 0; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

p, a, span, label, li {
  font-family: Fira;
  font-size: 14px;
  line-height: 1.6; }

small {
  font-family: Fira;
  font-size: 12px;
  line-height: 1.6; }

a {
  color: #339AA1;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
  transition: .4s; }
  a:hover {
    color: #43bbc4; }

.text--green {
  color: green; }

.fa {
  font-family: "FontAwesome";
  font-size: 60px;
  color: #FFF;
  margin-bottom: 10px; }

.freeze {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7); }
  .freeze .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 100%;
    background: #FFF; }

/* loading msgs */
.status {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 250px;
  transition: .3s;
  opacity: 0; }
  .status.active {
    opacity: 1; }
  .status div {
    opacity: 0;
    transition: .3s; }
    .status div.active {
      opacity: 1; }
  .status span {
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    vertical-align: middle; }
  .status .complete {
    background: #44BE05;
    padding: 15px;
    height: 100%; }
  .status img {
    height: 100%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; }

table {
  width: 100%; }
  table th, table td {
    color: #FFF;
    font-family: Fira;
    padding: 10px 5px;
    text-align: left;
    background: #f4f2f2; }
  table th {
    font-family: FiraBold;
    background: #005B9A; }
  table td {
    font-size: 12px;
    color: #000; }
  table tr:nth-child(even) td {
    background: #dbd9d9; }
  table .button {
    margin: 0 2px; }

form {
  margin: 10px 0; }

input, select, textarea {
  font-size: 14px;
  font-family: Fira;
  padding: 8px 5px;
  border: none;
  background: #E0E0E0; }

.form-field {
  display: block;
  max-width: 400px;
  margin-bottom: 10px; }
  .form-field input, .form-field select, .form-field textarea {
    width: 100%; }

.button, button {
  background: #005B9A;
  border: none;
  padding: 10px 18px;
  font-family: FiraBold;
  color: #FFF;
  font-size: 22px;
  transition: .2s;
  display: inline-block;
  text-decoration: none; }
  .button:hover, button:hover {
    background: #0079cd;
    cursor: pointer; }
  .button--small, .button .button--small, button--small, button .button--small {
    padding: 8px 15px;
    font-size: 18px;
    line-height: 1; }
  .buttons--right, buttons--right {
    text-align: right; }
    .buttons--right .button, .buttons--right button, buttons--right .button, buttons--right button {
      margin-left: 5px; }

/* Reprise grid */
.reprise__col {
  display: inline-block;
  vertical-align: top; }

.reprise--sidebar {
  width: 25%;
  background: #005B9A; }

.reprise--main {
  width: 75%;
  padding: 30px 30px 0; }

.reprise--sidebar > div {
  padding: 0 20px;
  height: 100%; }
  .reprise--sidebar > div a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #FFF;
    transition: .2s;
    border-bottom: 1px solid #FFF; }
    .reprise--sidebar > div a:hover {
      padding-left: 10px; }
    .reprise--sidebar > div a:last-child {
      border: none; }

/* Controls */
.progress {
  width: 250px;
  height: 30px; }
  .progress__bar {
    background: green;
    width: 0;
    height: 100%; }
  .progress__status {
    display: none; }

/* Modules */
.audio__intro {
  margin-bottom: 30px; }

.audio__popup {
  max-width: 400px; }

.audio__items table td:last-child {
  width: 20%; }

.bio__content {
  margin-bottom: 30px; }

.bio textarea {
  height: 300px; }

.bio .buttons--right {
  margin-top: 20px; }

.dashboard.wrapper {
  padding: 0; }

.dashboard__nav {
  display: flex;
  flex-wrap: wrap; }

.dashboard__item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 50px;
  background: #193153;
  color: #FFF;
  cursor: pointer;
  text-decoration: none; }
  .dashboard__item h2 {
    margin-bottom: 0;
    line-height: 1.2; }
  .dashboard__item > div {
    transition: .2s; }
  .dashboard__item:hover > div {
    transform: scale(1.1); }
  @media all and (min-width: 1025px) {
    .dashboard__item:nth-child(8n-1), .dashboard__item:nth-child(8n-3), .dashboard__item:nth-child(8n-4), .dashboard__item:nth-child(8n-6) {
      background: #375E7F; } }
  @media all and (max-width: 1024px) and (min-width: 769px) {
    .dashboard__item:nth-child(6n), .dashboard__item:nth-child(6n-2), .dashboard__item:nth-child(6n-4) {
      background: #375E7F; } }
  @media all and (min-width: 501px) and (max-width: 768px) {
    .dashboard__item:nth-child(4n), .dashboard__item:nth-child(4n-3) {
      background: #375E7F; } }
  @media all and (max-width: 500px) {
    .dashboard__item:nth-child(even) {
      background: #375E7F; } }

@media all and (max-width: 1024px) {
  .dashboard__item {
    width: 33.33333%; } }

@media all and (max-width: 768px) {
  .dashboard__item {
    width: 50%; } }

@media all and (max-width: 500px) {
  .dashboard__item {
    width: 100%;
    padding: 20px; } }

.date__add ul {
  padding: 0;
  margin: 0 0 5px 0;
  display: flex; }

.date__add li {
  list-style-type: none;
  padding: 8px 15px;
  display: inline-block;
  margin: 0 5px 0 0; }

.date__headers li {
  background: #005B9A;
  color: #FFF; }

.date__dates ul li {
  background: #f4f2f2; }

.date__dates ul:nth-child(even) li {
  background: #dbd9d9; }

.date--date {
  width: 15%; }

.date--name, .date--venue, .date--location {
  width: 25%; }

.date__edit {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); }
  .date__edit-btns {
    text-align: right; }
    .date__edit-btns button {
      margin-left: 5px; }

.date__popup {
  height: auto;
  width: 400px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px; }

.image__select {
  margin-bottom: 25px; }
  .image__select h3 {
    margin-bottom: 0; }

.image__info, .image__btns {
  display: inline-block;
  vertical-align: middle; }

.image__info {
  width: 400px; }

.image__btns .button {
  margin-left: 10px; }

.media__library {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7); }

.media__popup {
  height: 90%;
  width: 90%;
  max-width: 1680px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column; }
  .media__popup ul {
    padding: 0;
    margin: 0; }
  .media__popup li {
    list-style-type: none;
    padding: 12px 18px;
    display: inline-block;
    margin: 0 5px 0 0;
    background: #F3F3F3;
    cursor: pointer; }
    .media__popup li.selected {
      background: #EBEDEC; }

.media__list {
  background: #EBEDEC;
  flex: 1;
  width: 100%;
  overflow: auto; }

.media__items {
  margin: 0 10px; }

.media__item {
  display: inline-block;
  vertical-align: top;
  width: 12.5%;
  padding: 10px;
  transition: .2s;
  cursor: pointer; }
  .media__item img {
    max-width: 100%;
    max-height: 100%; }
  .media__item p {
    font-size: 12px;
    margin: 0 0 5px 0; }
  .media__item.selected {
    background: #005B9A; }
    .media__item.selected p {
      color: #FFF; }

.media--audio {
  background: orange; }

.media--videos {
  background: green; }

.item__image {
  height: 120px;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px; }

@media all and (max-width: 1400px) {
  .media__item {
    width: 16.66667%; } }

@media all and (max-width: 1024px) {
  .media__item {
    width: 25%; } }

@media all and (max-width: 768px) {
  .media__popup {
    padding: 10px; }
  .media__item {
    width: 33.33333%; } }

@media all and (max-width: 550px) {
  .media__item {
    width: 50%; } }

@media all and (max-width: 550px) {
  .media__popup {
    width: auto;
    height: auto;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    transform: none;
    padding: 10px; }
  .item__image {
    height: 100px; } }

@media all and (max-width: 360px) {
  .media__item {
    width: 100%; }
  .item__image {
    height: 140px; } }

.news__existing {
  margin: 30px 0; }

.social__current {
  margin: 0 -5px;
  padding: 30px;
  background: #F0F0F0; }

.social__items {
  margin: 0 -5px;
  padding: 30px;
  background: #E0E0E0; }

.social__item {
  display: inline-block;
  padding: 5px;
  transition: .2s; }
  .social__item img {
    width: 50px;
    height: 50px; }
  .social__item:hover {
    cursor: pointer;
    transform: scale(1.1); }

.social__popup {
  max-width: 350px; }
  .social__popup img {
    width: 30px;
    height: 30px;
    margin-right: 10px; }

.social__details {
  display: flex;
  margin-bottom: 20px; }
  .social__details input {
    flex: 1;
    height: 30px; }

/* Display */
.display__banner {
  height: 400px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center; }
  .display__banner-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center; }

.display__social {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%); }
  .display__social a {
    display: block; }
  .display__social img {
    width: 40px;
    height: 40px; }

.display__section {
  padding: 30px; }
  .display__section h3 {
    text-align: center; }
    .display__section h3:before {
      content: '';
      display: inline-block;
      margin: 0 15px 5px 0;
      width: 50px;
      height: 3px;
      background: #000; }
    .display__section h3:after {
      content: '';
      display: inline-block;
      margin: 0 0 5px 15px;
      width: 50px;
      height: 3px;
      background: #000; }
  .display__section:nth-child(odd) {
    background: #f4f4f2; }

.display__bio {
  margin: 0 auto;
  max-width: 700px; }

.display__news {
  padding: 30px 0 0; }

.display__articles {
  display: flex;
  flex-wrap: wrap; }

.display__article {
  padding: 20px;
  background: #bfbfbf;
  width: 25%;
  display: inline-block; }
  .display__article:nth-child(even) {
    background: #d9d9d9; }

.display__audio {
  padding: 30px 0 0; }

.display__tracks {
  display: flex;
  flex-wrap: wrap; }

.display__track {
  padding: 20px;
  background: #d9d9d9;
  width: 33.333%;
  display: inline-block; }
  .display__track:nth-child(even) {
    background: #bfbfbf; }
  .display__track audio {
    width: 100%; }
