<html lang="eng">
<head>
	<title>Home | Reprise</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!-- angular install-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<!-- angular app and controller -->
	<script src="js/repriseApp.js"></script>
	<script src="js/repriseDisplay.js"></script>
</head>

<body ng-app="reprise" ng-controller="display">
	<div class="wrapper">
		<h2>Welcome to Chris' page</h2>
		<h3>Social Media</h3>
		<div class="display__social">
			<a ng-repeat="item in social" ng-href="http://{{item.url}}{{item.handle}}">
				<img ng-src="social-media/icons/{{ item.name | lowercase }}.png">
			</a>
		</div>
		<h3>Tour dates</h3>
		<div class="display__dates">
			<div class="display__date" ng-repeat="item in dates">
				<p><strong>{{ item.event }}</strong></p>
				<small>{{ item.datetime }}</small>
				<p>{{ item.venue }}</p>
				<p>{{ item.location }}</p>
			</div>
		</div>
	</div>
</body>
</html>