@font-face {
    font-family: Fira;
    src: url(fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: FiraBold;
    src: url(fonts/FiraSans-ExtraBold.ttf);
}
*{
	box-sizing:border-box;
}

$color-grey: #E8E8E8;

html, body{
	margin:0;
	background: #FFF;
	font-size:0;
}
.wrapper{
	margin: 0 auto;
	max-width:1680px;
	display:flex;
	&.display{
		display:block;
	}
}
h1,h2,h3,h4{
	font-family: FiraBold;
	font-weight:900;
	margin-top:0;
}
h2{
	font-size:38px;
}
h3{
	font-size:24px;
}
h4{
	font-size:20px;
}

p, a, span, label, li{
	font-family: Fira;
	font-size:14px;
	line-height:1.6;
}
small{
	font-family: Fira;
	font-size:12px;
	line-height:1.6;
}
a{
	color: #339AA1;
	cursor:pointer;
	font-size: inherit;
	text-decoration: none;
	transition: .4s;
	&:hover{
		color: lighten(#339AA1, 10%);
	}
}
.text{
	&--green{
		color: green;
	}
}
.fa, .glyphicon{
	font-family: "FontAwesome";
	font-size:60px;
	color: #FFF;
	margin-bottom:10px;
}
.freeze{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:5;
	background: rgba(0,0,0,0.7);
	.popup{
		position:absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
		padding:30px;
		width:100%;
		background: #FFF;
		&--small{
			max-width:400px;
		}
	}
}

/* loading msgs */

.status{
	position:fixed;
	bottom:0;
	right:0;
	height:60px;
	width: 250px;
	transition: .3s;
	opacity: 0;
	&.active{
		opacity: 1;
	}
	div{
		opacity: 0;
		transition: .3s;
		&.active{
			opacity: 1;
		}
	}
	span{
		font-weight:bold;
		color: #FFF;
		display:inline-block;
		vertical-align: middle;
	}
	.complete{
		background: #44BE05;
		padding:15px;
		height:100%;
	}
	img{
		height:100%;
		margin-right: 10px;
		display:inline-block;
		vertical-align: middle;
	}
}