@font-face {
    font-family: Fira;
    src: url(fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: FiraBold;
    src: url(fonts/FiraSans-ExtraBold.ttf);
}
*{
	box-sizing:border-box;
}

html, body{
	margin:0;
	background: #FFF;
	font-size:0;
}
.wrapper{
	margin: 0 auto;
	max-width:1680px;
	padding: 30px;
}
h1,h2,h3{
	font-family: FiraBold;
	font-weight:900;
	margin-top:0;
}
h2{
	font-size:38px;
}
h3{
	font-size:24px;
}

p, a, span, label, li{
	font-family: Fira;
	font-size:14px;
	line-height:1.6;
}
a{
	color: #71B238;
	cursor:pointer;
}