.date{
	&__add{
		ul{
			padding:0;
			margin: 0 0 5px 0;
			display:flex;
		}
		li{
			list-style-type: none;
			padding: 8px 15px;
			display:inline-block;
			margin: 0 5px 0 0;
		}
	}
	&__headers{
		li{
			background: #005B9A;
			color: #FFF;
		}
	}
	&__dates{
		ul{
			li{background:#f4f2f2;}
			&:nth-child(even) li{
				background:#dbd9d9;
			}
		}
	}
	&--date{
		width:15%;
	}
	&--name, &--venue, &--location{
		width:25%;
	}
	&__edit{
		position:fixed;
		height:100%;
		width:100%;
		z-index:5;
		top:0;
		left:0;
		background: rgba(0,0,0,0.7);
		&-btns{
			text-align:right;
			button{
				margin-left:5px;
			}
		}
	}
	&__popup{
		height:auto;
		width: 400px;
		background:#FFF;
		position:absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
		padding:30px;
	}
}