<html lang="eng">
<head>
	<title>Add News Article | Reprise</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!-- angular install-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<!-- angular app and controller -->
	<!-- angular app -->
	<script src="../third-party/tinymce/tinymce.min.js"></script>
	<script src="../js/repriseApp.js"></script>
	<script src="../js/repriseNews.js"></script>
	<!-- tinyMCE -->
</head>
<script>
</script>
<body ng-app="reprise">
	<div class="wrapper news" ng-controller="editNews">
		<h2>Edit News</h2>
		<form ng-submit="saveNews()">
			<div class="form-field">
				<label>Title</label>
				<input type="text" placeholder="Article title" ng-model="article.name" />
			</div>
			<div class="form-field">
				<label>Content</label>
				<textarea ui-tinymce ng-model="article.content"> 
				</textarea>
			</div>
			<div class="buttons--right">
				<button type="submit">Save</button>
				<a class="button" ng-click="publishNews()" >Publish</a>
			</div>
		</form>
		<div ng-class="status.httpReq ? 'active' : '' " class="status">
			<div class="in-progress">
			</div>
			<div ng-class="status.complete ? 'active' : '' " class="complete">
				<img src="../img/icons/tick.png"/>
				<span>{{ success }}</span>
			</div>
			<div class="error" style="display:none;">
				<img src="../img/icons/error.png"/>
			</div>
		</div>
	</div>
</body>
</html>